@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Noto Sans KR', sans-serif;
}

.chatbot-container {
  width: 1300px;
  height: 500px;
  margin: 50px auto;
  border: 2px solid #ffffff;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.chatbot-messages {
  width: 1250px;
  max-height: 300px; /* 최대 높이 설정 */
  overflow-y: auto;
  padding: 15px;
  display: flex;
  flex-direction: column; /* 수직으로 배치 */
  font-family: 'Noto Sans KR', sans-serif;
}

.chatbot-message {
  background-color: #ffffff; /* 흰색 배경색 적용 */
  color: #000000; /* 검정 글씨 색상 적용 */
  border: 1px solid #bababa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 13px;
  align-self: start; /* start는 왼쪽, end는 오른쪽 */
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

.user-message {
  background-color: #ffffff; /* 흰색 배경색 적용 */
  color: #000000; /* 검정 글씨 색상 적용 */
  border: 1px solid #bababa;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 13px;
  align-self: end; /* start는 왼쪽, end는 오른쪽 */
  box-sizing: border-box;
  
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

input {
  width: 70%;
  margin-bottom: 12px;
  padding: 12px;
  border: 2px solid #ccc;
  border-radius: 6px;
}

.navigate-button img {
  width: 45px;
  height: auto;
  margin-left: -100px;
}

.chatbot-container form button {
  background-color: transparent;
  border: none;
  padding: 0;
  position: relative;
  top: 25px;
}

.chatbot-container form img {
  width: 60px;
  height: auto;
}

.your-custom-class {
  font-size: 16px;
  color: #ffffff; /* 검정 글씨 색상 적용 */
}

.delete-button {
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.navigate-button {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: 2px solid #fff;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.delete-button:hover,
.navigate-button:hover {
  background-color: #fff;
  color: #333;
  margin-bottom: 20px;
}

.chatbot-image {
  background-color: transparent;
}