body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	text-align: center;
	margin: 0;
	padding: 0;
	
  }
  
  .login-container {
	max-width: 900px; /* Increase the max-width value */
	margin: 100px auto;
	padding: 40px; /* Adjust the padding to increase height */
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .login-container a {
	color: white; /* Set the color to white */
	text-decoration: none; /* Remove underline from the links if needed */
  }
  
  .login-container h2 {
	margin-bottom: 20px;
	color: rgb(255, 255, 255);
	font-size: 40px;
	margin-bottom: 100px;
	display: inline-block; /* Make the element only as wide as its content */
	border-bottom: 5px solid #ccc; /* Add a 2px solid bottom border */
	padding-bottom: 30px; /* Add some padding below the text for spacing */
  }

  .login-form {
	text-align: left;
  }
  
  .form-group {
	margin-bottom: 20px;
  }
  
  .form-group label {
	display: block;
	margin-bottom: 8px;
	color: #ffffff;
	font-size: 25px;
  }
  
  .form-group input {
	background-color: transparent;
	width: 525px;
	height: 30px;
	border-top: 2px solid transparent; /* Transparent top border */
	border-left: 2px solid transparent; /* Transparent left border */
	border-right: 2px solid transparent; /* Transparent right border */
	border-bottom: 3px solid #ccc; /* Colored bottom border */
	border-radius: 6px;
	color: white; /* 텍스트 색상을 흰색으로 변경 */
  }
  
  .login-button {
	margin-top: 30px;
	background-color:rgba(197.61170983314514, 30.135764926671982, 30.135764926671982, 1);
	color: #fff;
	padding: 10px 15px;
	width:525px;
    height:47px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
	font-size: 20px;
  }

  .e13_156 { 
	margin-top: 30px;
	color:rgba(214.61170881986618, 213.7174952030182, 213.7174952030182, 1);
	font-family:Inter;
	text-align:right;
	font-size:15px;
	letter-spacing:0;
	margin-top: 20px;
	margin-left: -10px;
  }


  .login-button:active {
	border-width: 4px; /* Set the border width as needed */
  }
 
 